<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ardian.dicoding.aboutsemarang">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AboutAct" />
        <activity android:name=".RajaAct" />
        <activity android:name=".LawangAct" />
        <activity android:name=".KutaAct" />
        <activity android:name=".PantaiAct" />
        <activity android:name=".MalioboroAct" />
        <activity android:name=".MonasAct" />
        <activity android:name=".DanauAct" />
        <activity android:name=".SampokongAct" />
        <activity android:name=".CandiAct" />
        <activity android:name=".PulauKomodoAct" />
        <activity android:name=".MainActivity"/>
            <activity android:name=".SplashAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>